*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: verdana,geneva, tahoma,sans-serif;
}
body{
    background-color:#F6F4F0;

}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding: 0 2%;
}
header {
    padding:20px;
    background-color:#fff;
    border: 1px solid #2c2a2a;
    border-radius: 5px;
    
}
.logo img{
    width:35%;
    background-color:white;
    border:1px solid #C41B22;
    border-radius:50%;
}
.logo{
    width:35%;
}

.menu{
    width:50%;
    text-align: right;
    padding-top:115px;
}

.menu a{
    color:#403E3B;
    text-decoration:none;
    font-weight: bold;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
}

.menu a:hover{
     filter: brightness( 25% );
}
.meio{
    margin:20px auto;
    width:1400px;
    height:200px;
    border-radius:5px;
    border:1px solid #C41B22;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../IMG/imagemdefundo.JPG);
}
.meio1{
    margin:20px auto;
    width:1400px;
    height:200px;
    border-radius:5px;
    border:1px solid #C41B22 ;
    background-color:red;
}

.texto p{
    margin:30px;
    color:#fff;
    font-size:25px;
}
.texto2{
    padding-top:25px;
    text-align:center;
    margin:20px;

}

.hero .btn {
    font-family:lumios marker;
    color:black;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.hero .btn:hover{

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
.divBusca{
    margin:0 auto;
    padding-top:100px;
    padding-right:400px;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:226px;
}

#btnBusca{
  float:left;
  cursor:pointer;
}

#divBusca img{
  float:left;
}

#divBusca{
  border:solid 10px rgba(47, 79, 79, 0.8);
  border-radius:10px;
  height:37px;
  width:400px;
}